*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: hsl(203deg 18% 17% / 89%);;
  line-height: 1.5;
  font-family: "Muli", sans-serif;
  background-color: #47525d;
  background-image: url(./image/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  font-weight: 800;
}

ul, ol {
  padding-left: 40px;
}

h1 {font-size: 1.9em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.5em; }

h1, h2, h3, h4, h5, h6, p, ul, ol, .featuredImage { margin-bottom: 20px; }

li { margin-bottom: 10px;}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
  height: 60px;
  line-height: 60px;
  background: #47525d54;
  text-align: center;
  color: #fff;
  box-shadow: 0 1px #273e4633;
}

.wrapper {
    width: 100%;
    max-width: 900px;
    padding: 0 10px;
    margin: auto;
}

.logo {
  line-height: 60px;
  font-size: 27px;
  font-weight: 600;
  font-family: cursive;
}

main .wrapper {
  padding: 50px 15px;
}

.post {
  padding: 20px;
  margin-bottom: 50px;
  background-color:  hsl(0deg 0% 100% / 49%);
  box-shadow: 0px 2px 3px rgba(0,0,0,.13) ,1px 2px 2px rgba(0,0,0,.1) , -1px -2px 2px rgba(0,0,0,.05) ;
}

.post img {
    display: block;
    /* height: 95vh;
    width: 87vw; */
}

.title {
  text-transform: uppercase;
  font-size: 1.8em;
  color: hsl(0deg 0% 0% / 74%);
  font-family: cursive;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  contain: content;
}

.image {
  /* width: 1000px; */
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.04);
}